/* Header và thanh nav */
.header__navbar-list-background-color1 {
    width: 300px;
    background-color: #002244;
}

.header__navbar-list-background-color2 {
    width: calc(100%-300px);
    background-color: #002244;
    flex: 1;
}

.header__navbar-list-float {
    float: right;
    margin-right: 60px;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding: 10px;
    display: flex;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item--bold {
    font-weight: 400;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
    color: white;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-item-link {
    display: inline-flex;
    align-items: center;
}

/* CSS cho chữ QLNS */
.header__navbar-icon-qlns {
    margin-left: 50px;
}

/* CSS cho hộp thư */
.header__navbar-icon-hopthu {
    margin: 3px 5px 0 0;
}

/* CSS cho icon thong bao */
.header__navbar-icon-thongbao {
    margin: 0 5px 0 0;
}

.header__navbar-user {
    display: flex;
    align-items: center;
    position: relative;
}

.header__navbar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.header__navbar-user-name {
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400
}

.header__navbar-user-menu {
    position: absolute;
    padding-left: 0;
    top: calc(100% + 6px);
    right: 0;
    border-radius: 2px;
    width: 160px;
    background-color: var(--white-color);
    list-style: none;
    /* Cho nó đứng trước giỏ hàng */
    z-index: 1;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
}

.header__navbar-user-item {
    margin-top: 8px;
    font-weight: 400;
}

.header__navbar-user-item a {
    text-decoration: none;
    color: var(--text-color);
    padding: 10px 16px;
    display: block;
    font-size: 1.4rem;
}

.header__navbar-user-item a:hover {
    background-color: #fafafa;
}

.header__navbar-user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}


.header__navbar-user-menu::before {
    content: "";
    border-width: 15px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 7px;
    top: -25px;
}


.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-item--separate {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* CSS cho thông báo */
.header__notify {
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 32px) top;
    animation: headerNotifyGrowth ease-in 0.2s;
    display: none;
    will-change: opacity, transform;
    z-index: 1;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header h3 {
    color: #999;
    margin: 0;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    margin: 0 0 0 12px;
}


.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-item--viewed {
    background-color: rgba(238, 75, 43, 0.08);
}

.header__notify-link {
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 14px;
    color: var(--text-color);
    font-weight: 400;
    line-height: 2.0rem;
}

.header__notify-description {
    display: block;
    font-size: 12px;
    color: #756f6e;
    margin-top: 2px;
}

.header__notify-footer {
    text-align: center;
    padding: 10px;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 20px;
    font-weight: 500;
}

.header__navbar-item--has-notify:hover .header__notify {
    display: block;
}

.header__notify::before {
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -29px;
}

.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -16px;
    width: 90px;
    height: 20px;
}

/* CSS cho hopthu */
.header__message {
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 32px) top;
    animation: headerNotifyGrowth1 ease-in 0.2s;
    display: none;
    will-change: opacity, transform;
    z-index: 1;
}

@keyframes headerNotifyGrowth1 {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__message-header h3 {
    color: #999;
    margin: 0;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    margin: 0 0 0 12px;
}


.header__message-list {
    padding-left: 0;
}

.header__message-item {
    display: flex;
}

.header__message-item:hover {
    background-color: #f7f7f7;
}

.header__message-item--viewed {
    background-color: rgba(238, 75, 43, 0.08);
}

.header__message-link {
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
}

.header__message-img {
    width: 48px;
    object-fit: contain;
}

.header__message-info {
    margin-left: 12px;
}

.header__message-name {
    display: block;
    font-size: 14px;
    color: var(--text-color);
    font-weight: 400;
    line-height: 2.0rem;
}

.header__message-description {
    display: block;
    font-size: 12px;
    color: #756f6e;
    margin-top: 2px;
}

.header__message-footer {
    text-align: center;
    padding: 10px;
}

.header__message-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 20px;
    font-weight: 500;
}

.header__navbar-item--has-message:hover .header__message {
    display: block;
}

.header__message::before {
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -29px;
}

.header__message::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -16px;
    width: 90px;
    height: 20px;
}

/* Content */
.app__container {
    display: flex;
}

.sidebar {
    width: 300px;
    background-color: #002244;
    color: white;
    padding-bottom: 1000px;
}

.content {
    width: calc(100%-300px);
}